<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {%- include head.html -%}

  <body>
    <!-- {%- include header.html -%} -->
    <br />
    <div style="text-align:center">
      <a href="{{ site.url }}{{ site.baseurl }}">
        <img height="200" width="150" src="{{ site.url }}{{ site.baseurl }}/assets/logo.png" />
      </a>
      <div style="text-align:center; color:white; font-style: italic;">
        "If you could naught yourself for an instant, you would possess all that is."
        — Meister Eckhart
      </div>
    </div>
    <main class="page-content" aria-label="Content">
      <div class="wrapper">
        {{ content }}
      </div>
    </main>
    <!-- {%- include footer.html -%} -->
  </body>

</html>
