---
layout: default
---
<script async src="https://cse.google.com/cse.js?cx=a157aec0f68d5493f"></script>
<div style="width:500px" class="gcse-search"></div>

<div class="home">
  {%- if page.title -%}
    <h1 class="page-heading">{{ page.title }}</h1>
  {%- endif -%}

  {{ content }}

  {%- if site.posts.size > 0 -%}
    <div style="text-align:center">
      {%- for post in site.posts -%}
        <div class="front_tile">
          <a href="{{ post.url | relative_url }}">
              <img src="assets/covers/{{ post.cover_image }}" style="box-shadow: 3px 3px 3px white, -8px -4px 3px black;" width="230" height="300"/>
          </a>
        </div>
      {%- endfor -%}
    </div>
  {%- endif -%}
</div>
