---
layout: default
---

<div class="home">
  {%- if page.title -%}
    <h1 class="page-heading">{{ page.title }}</h1>
  {%- endif -%}

  {{ content }}

  <div style="text-align:center">
  {%- if site.posts.size > 0 -%}
    <ul class="post-list">
      {%- for post in site.posts -%}
        <div class="front_tile">
          <a href="{{ post.url | relative_url }}">
              <img src="assets/covers/{{ post.cover_image }}" style="border: 2px black solid; box-shadow: 3px 3px 5px 6px #ccc;" width="230" height="300"/>
          </a>
        </div>
      {%- endfor -%}
    </ul>
  </div>
  {%- endif -%}
</div>
